* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    background: hsl(216, 54%, 11%); 
    display: flex;
    flex-direction: column;  
    width: 100vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

main {
    color: hsl(0, 0%, 100%); 
    box-shadow: 0px 0px 18px 10px hsl(217, 68%, 7%);
    border-radius: 10px;
}

img {
    max-width: 100%;
	height: auto;
}

hr {
    display: block;
    width: 85%;
    margin: 1rem auto 1rem auto;
    border: 1px solid hsl(215, 32%, 27%)  
}

#card {
    display: flex;
    flex-direction: column;
    background: hsl(216, 50%, 16%);
    max-width: 290px;
    max-height: 500px;
    border-radius: 10px;
}

#card #card-img {
    margin: 1.5rem;
    border-radius: 10px;
    position: relative;
}

#card #card-img div  {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#card #card-img div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#card #card-img div:hover {
    opacity: 1;
    cursor: pointer;
}

.img2:hover {
    opacity: 100%;
}

#card h1 {
    margin-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

#card h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: 0.2s;
}

#card h1 strong {
    font-size: 1.3rem;
}

#card p:nth-child(3) {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 0.5rem 0 1rem 1.5rem;
    color: hsl(215, 51%, 70%);
}

#eth {
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    font-size: 0.9rem;
    font-weight: 400;
}

#eth img {
    margin: 0 0.33rem 0 0;
}

#eth #eth-price {
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
}

#eth #eth-time {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

#creator {
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem 1.5rem;
}

#creator img {
    width: 10%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin: 0 0.5rem 0 0;
}

#creator p {
    font-size: 0.9rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

#creator strong {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

#creator strong:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: 0.2s;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
 }
 
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
